<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>To Do List</title>
  </head>
  <body>
    <h1><%= kindOfDay %></h1>

    <ul>
      <% for(let i=0; i<newListItems.length; i++){ %>
           <li><%= newListItems[i] %></li>  
      <% } %>                                                                                                                                                                                                                                                             %></li>
    </ul>

    <form class="" action="/" method="post">
        <input type="text" name="newItem" value="">
        <button type="submit" name="button" >submit</button>
    </form>

    <!-- https://ejs.co/  -->
  </body>
</html>
