<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>To Do List</title>
  </head>
  <body>
    <h1><%= kindOfDay %></h1>

    <ul>
      <li>Buy food</li>
      <li>Cook food</li>
      <li>Eat food</li>
    </ul>

  

    <!-- https://ejs.co/  -->
  </body>
</html>
